@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, #000000, #067777);
}

header img {
  width: 150px;
  float: left;
  padding-left: 30px;
}

header h2 {
  color: white;
  float: left;
  padding-top: 50px;
  padding-left: 20px;
}

nav ul {
  clear: both;
}

nav ul li {
  display: inline-flex;
  margin-left: 10%;
  color: white;
  font-weight: 700;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

#tela {
  width: 600px;
  padding-top: 100px;
  height: auto;
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
}

.telaPrincipal {
  color: white;
  display: flex;
  align-items: center;
}

#textoPrincipal {
  width: 600px;
}

#min {
  padding-left: 0;
}

#maiorIdade {
  width: 20px;
  padding-top: 10px;
}

#aviso {
  display: inline-flex;
  padding-left: 10px;
}

span,
main div ul li {
  font-size: 10px;
}

span {
  padding-top: 12px;
  padding-left: 5px;
}

main div ul li {
  padding-left: 40px;
}

h1 {
  padding-left: 40px;
  padding-top: 80px;
}

div p {
  padding-left: 40px;
}

ul li {
  display: inline-block;
  padding-bottom: 20px;
  padding-left: 20px;
}

.carrossel {
  width: 230px;
  height: 140px;
  padding-top: 30px;
  padding-left: 20px;
}

a {
  text-decoration: none;
  color: white;
}





.span-data {
  color: white;
}

textarea {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border-radius: 50px;
}

.p-entre-contatos {
  text-align: center;
  
}

label {
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 9px;
  margin-bottom: 10px;
}

.button-enviar {
  background-color: #01B5CC;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 20px;
}

.p-entre-contatos {
  color: white;
  padding: 10px;
}

.gif-rick {
  display: flex;
  margin: 0 ;
  max-width: 50%;
  position: absolute;
}

/* #contatos{
  text-align: center;
} */

footer {
  background-color: #067777;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}