main{
    background: linear-gradient(to right, #000000, #067777);
    border-radius: 20px;
    position: relative;
    left:12%;
    top: 50px;
    width: 500px;
}

#alterarConta{
    position: relative;
    top: 150px;
    left: 25px;
    font-size: 10px;
    transition: .20s;
    cursor: pointer;
}

#alterarConta:hover{
    color: gray;
}

main p{
    color: white;
}

#fotoNome{
    display: flex;
}

#fotoPerfil{
    position: relative;
    left:10%;
    top: 20px;
    width: 100px;
    border: solid 2px greenyellow;
    
}

#nome{
    position: relative;
    top: 40px;
    left:10%;
    font-weight: 700;
}

#conta{
    font-size: 10px;
    padding-left: 30%;
}


span{
    color: red;
}



.Dados-do-perfil {
    font-weight: 700;
    font-size: small;
    transition: .20s;
    
}

.Dados-do-perfil:hover {
    color: darkgray;
}