img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 20px 20px 0 20px;
    
}

.quarteto1, .quarteto2{
    display: inline-flex;
    /* border: solid 1px white; */
}

.descricao-personagem {
    color: white;
}


#rick{
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}