.personagens{
    margin-top: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* h1{
    color: white;
    text-align: center;
    margin-top: 0;
}

pre{
    color: #067777;
    text-align: center;
} */

img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 20px 20px 0 20px;
    
}

.quarteto1, .quarteto2{
    display: inline-flex;
    /* border: solid 1px white; */
}

.descricao-personagem {
    color: rgb(0, 0, 0);
}


#rick, #morty, #summer, #beth, 
#jerry, #annie, #poopybutthole,
#beths, #birdperson, #blim-blam{
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}

#footer{
    position: relative;
    top: 600px;
}

.git{
    height: 0;

}