img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 20px 20px 0 20px;
}

.personagens{
    display: inline-flex;
    /* border: solid 1px white; */
}

p{
    color: white;

}