p {
  color: white;
  text-align: center;
  font-size: large;
  font-weight: 800;
}

img {
  width: 100px;
  margin: 10px;
  border-radius: 10px;
}

#atual {
  border: solid 2px greenyellow;
}



.assistindo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
